<div class="panel panel-primary" style="color: #f60">
    <div class="panel-heading" >
        {{pageTitle}}
    </div>

    <div class="panel-body" >
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="login(loginForm)"
              #loginForm="ngForm"
              autocomplete="off" >
            <fieldset>
                <div class="form-group" 
                     [ngClass]="{'has-error': (usernameVar.touched || 
                                               usernameVar.dirty) && 
                                               !usernameVar.valid }">
                    <label class="col-md-2 control-label" 
                           for="usernameId">Email</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                                id="usernameId" 
                                type="text" 
                                placeholder="User Name (required)"
                                required
                                (ngModel) = "username"
                                name="username"
                                #usernameVar="ngModel" />
                        <span class="help-block" *ngIf="(usernameVar.touched ||
                                                         usernameVar.dirty) &&
                                                         usernameVar.errors">
                            <span *ngIf="usernameVar.errors.required">
                                User name is required.
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group" 
                     [ngClass]="{'has-error': (passwordVar.touched || 
                                               passwordVar.dirty) && 
                                               !passwordVar.valid }">
                    <label class="col-md-2 control-label" for="passwordId">Password</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                                id="passwordId" 
                                type="password" 
                                placeholder="Password (required)"
                                required
                                (ngModel) = "password"
                                name="password"
                                #passwordVar="ngModel" />
                        <span class="help-block" *ngIf="(passwordVar.touched ||
                                                         passwordVar.dirty) &&
                                                         passwordVar.errors">
                            <span *ngIf="passwordVar.errors.required">
                                Password is required.
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]="!loginForm.valid" >
                                Log In
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               [routerLink]="['/welcome']">
                                Cancel
                            </a>
                        </span>
                     </div>
                </div>
                <div class="has-error"  *ngIf="errorMessage" style="color:red">{{errorMessage}}</div>
                <span> not a member yet <a [routerLink]="['/signup']">signup</a></span>
            </fieldset>
        </form>
       
    </div>

</div>
