<form (ngSubmit)="addPost()" role="form" #addPostForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input  class="form-control" [(ngModel)]="title" name="title" id="title"  placeholder="Enter Title" required>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <input type="textarea" class="form-control" [(ngModel)]="body" name="body" id="body" placeholder="Enter Body" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>